body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;   
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
}

.container:first-child {
    text-align: center;
}

.auth-form {
    display: inline-block;
    margin: 0 auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 4px;
    text-align: right;
}

.field {
    margin-bottom: 1rem;
}

.field__form:last-child {
    margin-bottom: 0;
}

.field__form>input {
    border: 0;
    border-radius: 4px;
    padding: 5px;
}

.field__form:last-child>button {
    padding: 10px;
    counter-reset: #fff;
    background-color: #6fd43f;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.field__form:last-child>button:hover {
    background-color: #8ae55f;
}

.field__form:last-child {
    text-align: center;
}

.btn-delete {
    padding: 5px 12px;
    counter-reset: #fff;
    background-color: red;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.btn-edit {
    padding: 5px 20px;
    counter-reset: #fff;
    background-color: blue;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 1000;
}
.modal .modal_content {
    background-color: #f4f4f4;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    z-index: 99999;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal_content>input {
    border: 0;
    border-radius: 4px;
    padding: 5px;
}

.btn-save {
    padding: 5px 20px;
    counter-reset: #fff;
    background-color: #6fd43f;
    border: 0;
    border-radius: 4px;
    transition: .3s;
    cursor: pointer;
}